.welcome{
    text-align: center;
    color: white;
    padding-top: 100px;
    background-image: url(images/IP3-master/assets/backgrounds/h_img.jpg);
    height: 700px;  
    margin-top: 0px;
}
.container{
    max-width: 100px;
    font-family: Rubik,monospace;
}

.mice{
    height: 45px;
    margin-top: 100px;
}

.logo{
    padding-top: 40px;
}

.about{
    text-align: center;
    padding-top: 150px; 
    padding-bottom: 150px;
}

.aboutus{
    padding-bottom: 60px;
}

.services{
    text-align: center;
    color: white;
    padding-top: 100px;
    padding-bottom: 300px;
    background-image: url(images/IP3-master/assets/backgrounds/s_image.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact{
    color:white;
    text-align: center;
    padding-top: 100px; 
    background-image: url(images/IP3-master/assets/backgrounds/c_image.jpg);
    height: 1000px;
}



.what{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 80px;
}
#show1{
    padding-bottom: 10px;
    padding-left: 240px;
    
    
}
#show2{
    padding-bottom: 10px;
    padding-left: 208px;

}
#show3{
    padding-bottom: 10px;
    padding-left: 160px;

}
.design{
    display: none;
}
.devel{
    margin-left: 190px;
}
.prod{
    margin-left: 100px;
    
}
.des{
    margin-left: 250px;
    margin-top: 300px
}
.development{
    display: none;
}

.product{
    display: none;
}
.cont{
    margin-left: 400px;
    margin-top: 100px;
}
.port{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 60px;
}
#portfolio {
    margin-bottom: 75px;
    overflow: hidden;
    margin-left:75px;
    margin-right: 75px;
  }
 
  #portfolio .grid{
      border: 5px solid #fff;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      width: 300px;
      height: 300px;
  }
  #portfolio .grid:hover .caption {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    width: 300px;
    height: 300px;
    -moz-transform: translateY(100%);
}
#portfolio .grid .caption {
    background-color:white;
    position: absolute;
    color: black;
    opacity: 0.8;
    z-index: 150;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    text-align: justify;
    width: 300px;
    height: 300px;
  
  .port{
      text-align: center;
      padding-bottom: 100px;
      padding-top: 100px;       
  }
  .icons{
    margin-left: 250px;
    margin-right: 200px;
    margin-top: 35px;
    padding-inline-start: 10px;
  }
  .contact {
    color: white;
  }
  #name {
    background-color: aliceblue;
    border-color: white;
    border-width: thin;
    color: white;
    margin-left: 50px;
    margin-top: 100px;
  }
  #email {
    background-color: aliceblue;
    border-color: white;
    border-width: thin;
    color: white;
    margin-right: 500px;
    margin-left: 900px;
    margin-top: 0px;
  }
  #comments {
    background-color: transparent;
    border-color: white;
    border-width: thin;
    color: white;
    margin-left: 450px;
    margin-right: 500px;
    margin-top: 75px;
  }
  .submit{
    margin-left: 650px;
    margin-top: 75px;
  }